/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

/* START: To support footer <= v2.0 */
#wb-info {
	.brand {
		.row {
			nav {
				margin: .75em 0 3em;

				ul {
					column-count: 2;
					padding-top: 0;
				}

				li {
					display: block;

					&:first-child::before {
						content: "\2022";
						margin-right: .75em;
					}
				}
			}
		}
	}
}
/* END */
