/*
  WET-BOEW
  @title: Footer extra-small view and under (screen only)
 */

#wb-info {
	.brand {
		nav {
			ul {
				li:not(:last-child) {
					margin-bottom: .75em;
				}
			}

			h4 {

				margin-bottom: .9em;

				&::before {
					border-top: 1px solid #333;
					content: "";
					display: block;
					margin-top: 1em;
					margin-bottom:.5em;
					width: 1.3em;
				}
			}

		}
	}
}
