/*
  WET-BOEW
  @title: Search medium view and over (screen only)
 */

#wb-info {
	.brand {
		nav {
			ul {
				display: inline-block;
			}

			h3 + ul {
				margin-bottom: 0;
			}

			h4 {

				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;

				&::before {
					border-left: solid 1px;
					content: "";
					font-size: 13px;
					margin: 0 1em 0 .4em;
				}
			}
		}

		/* START: To support footer <= v2.0 */
		.row nav ul li {
			margin-bottom: 0;
		}
		/* END */
	}
}
