/*
  WET-BOEW
  @title: Search medium view and over (screen only)
 */

#wb-info {
	.brand {
		nav {
			ul {
				display: inline-block;
			}

			h3 + ul {
				margin-bottom: 0;

				&::after {
					content: "|";
					margin: 0 .75em 0 .4em;
				}
			}
		}

		/* START: To support footer <= v2.0 */
		.row nav ul li {
			margin-bottom: 0;
		}
		/* END */
	}
}
