---
title: Glyphicons
description: Documentation et exemple pratique des Glyphicons
language: fr
altLangPage: glyphicons-en.html
dateModified: 2023-07-06
layout: no-container
---
<div class="container">
	<h1>{{ page.title }}</h1>

	<span class="wb-prettify all-pre hide"></span>

	<!--<h2>Objectif</h2>
	<p>Ceci ajoute des Glyphicons de Bootsrap dans une page de Canada.ca. Cela ajoute Bootstrap comprend 260 glyphes de l'ensemble Glyphicon Halflings. Les Glyphicons Halflings ne sont normalement pas disponibles gratuitement, mais leur créateur les a rendus disponibles gratuitement pour Bootstrap. En guise de remerciement, vous devez inclure un lien vers <a href="https://glyphicons.com/">Glyphicons</a> dans la mesure du possible.</p>-->

	<h2>Exemples pratiques</h2>

	<div class="row wb-eqht">
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><br>glyphicon<br>glyphicon-asterisk</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br>glyphicon<br>glyphicon-plus</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><br>glyphicon<br>glyphicon-euro</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-eur" aria-hidden="true"></span><br>glyphicon<br>glyphicon-eur</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-minus" aria-hidden="true"></span><br>glyphicon<br>glyphicon-minus</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cloud</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><br>glyphicon<br>glyphicon-envelope</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><br>glyphicon<br>glyphicon-pencil</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-glass" aria-hidden="true"></span><br>glyphicon<br>glyphicon-glass</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br>glyphicon<br>glyphicon-music</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>glyphicon<br>glyphicon-search</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br>glyphicon<br>glyphicon-heart</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>glyphicon<br>glyphicon-star</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><br>glyphicon<br>glyphicon-star-empty</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>glyphicon<br>glyphicon-user</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-film" aria-hidden="true"></span><br>glyphicon<br>glyphicon-film</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br>glyphicon<br>glyphicon-th-large</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-th" aria-hidden="true"></span><br>glyphicon<br>glyphicon-th</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br>glyphicon<br>glyphicon-th-list</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ok</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><br>glyphicon<br>glyphicon-remove</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span><br>glyphicon<br>glyphicon-zoom-in</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span><br>glyphicon<br>glyphicon-zoom-out</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-off" aria-hidden="true"></span><br>glyphicon<br>glyphicon-off</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-signal" aria-hidden="true"></span><br>glyphicon<br>glyphicon-signal</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cog</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><br>glyphicon<br>glyphicon-trash</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>glyphicon<br>glyphicon-home</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br>glyphicon<br>glyphicon-file</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-time" aria-hidden="true"></span><br>glyphicon<br>glyphicon-time</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-road" aria-hidden="true"></span><br>glyphicon<br>glyphicon-road</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-download-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-download" aria-hidden="true"></span><br>glyphicon<br>glyphicon-download</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-upload" aria-hidden="true"></span><br>glyphicon<br>glyphicon-upload</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span><br>glyphicon<br>glyphicon-inbox</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><br>glyphicon<br>glyphicon-play-circle</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><br>glyphicon<br>glyphicon-repeat</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><br>glyphicon<br>glyphicon-refresh</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-list-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-lock" aria-hidden="true"></span><br>glyphicon<br>glyphicon-lock</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><br>glyphicon<br>glyphicon-flag</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><br>glyphicon<br>glyphicon-headphones</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span><br>glyphicon<br>glyphicon-volume-off</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-volume-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-volume-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span><br>glyphicon<br>glyphicon-qrcode</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span><br>glyphicon<br>glyphicon-barcode</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tag</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tags</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-book" aria-hidden="true"></span><br>glyphicon<br>glyphicon-book</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bookmark</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-print" aria-hidden="true"></span><br>glyphicon<br>glyphicon-print</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-camera" aria-hidden="true"></span><br>glyphicon<br>glyphicon-camera</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-font" aria-hidden="true"></span><br>glyphicon<br>glyphicon-font</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bold" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bold</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-italic" aria-hidden="true"></span><br>glyphicon<br>glyphicon-italic</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-text-height" aria-hidden="true"></span><br>glyphicon<br>glyphicon-text-height</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span><br>glyphicon<br>glyphicon-text-width</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-align-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span><br>glyphicon<br>glyphicon-align-center</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-align-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span><br>glyphicon<br>glyphicon-align-justify</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-list" aria-hidden="true"></span><br>glyphicon<br>glyphicon-list</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-indent-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-indent-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><br>glyphicon<br>glyphicon-facetime-video</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br>glyphicon<br>glyphicon-picture</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><br>glyphicon<br>glyphicon-map-marker</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span><br>glyphicon<br>glyphicon-adjust</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tint" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tint</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><br>glyphicon<br>glyphicon-edit</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-share" aria-hidden="true"></span><br>glyphicon<br>glyphicon-share</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-check" aria-hidden="true"></span><br>glyphicon<br>glyphicon-check</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-move" aria-hidden="true"></span><br>glyphicon<br>glyphicon-move</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-step-backward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-fast-backward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-backward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-backward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><br>glyphicon<br>glyphicon-play</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-pause" aria-hidden="true"></span><br>glyphicon<br>glyphicon-pause</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-stop" aria-hidden="true"></span><br>glyphicon<br>glyphicon-stop</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-forward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-forward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-fast-forward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span><br>glyphicon<br>glyphicon-step-forward</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-eject" aria-hidden="true"></span><br>glyphicon<br>glyphicon-eject</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-chevron-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-chevron-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-plus-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-minus-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-remove-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ok-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-question-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-info-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span><br>glyphicon<br>glyphicon-screenshot</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><br>glyphicon<br>glyphicon-remove-circle</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ok-circle</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ban-circle</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-arrow-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-arrow-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-arrow-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-arrow-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-share-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span><br>glyphicon<br>glyphicon-resize-full</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span><br>glyphicon<br>glyphicon-resize-small</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-exclamation-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-gift" aria-hidden="true"></span><br>glyphicon<br>glyphicon-gift</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span><br>glyphicon<br>glyphicon-leaf</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><br>glyphicon<br>glyphicon-fire</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br>glyphicon<br>glyphicon-eye-open</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span><br>glyphicon<br>glyphicon-eye-close</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><br>glyphicon<br>glyphicon-warning-sign</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-plane" aria-hidden="true"></span><br>glyphicon<br>glyphicon-plane</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><br>glyphicon<br>glyphicon-calendar</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-random" aria-hidden="true"></span><br>glyphicon<br>glyphicon-random</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>glyphicon<br>glyphicon-comment</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span><br>glyphicon<br>glyphicon-magnet</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-chevron-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-chevron-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span><br>glyphicon<br>glyphicon-retweet</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br>glyphicon<br>glyphicon-shopping-cart</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span><br>glyphicon<br>glyphicon-folder-close</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br>glyphicon<br>glyphicon-folder-open</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span><br>glyphicon<br>glyphicon-resize-vertical</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><br>glyphicon<br>glyphicon-resize-horizontal</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hdd</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bullhorn</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bell</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span><br>glyphicon<br>glyphicon-certificate</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-thumbs-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-thumbs-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hand-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hand-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hand-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hand-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-circle-arrow-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-circle-arrow-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-circle-arrow-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-circle-arrow-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><br>glyphicon<br>glyphicon-globe</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><br>glyphicon<br>glyphicon-wrench</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tasks</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><br>glyphicon<br>glyphicon-filter</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br>glyphicon<br>glyphicon-briefcase</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span><br>glyphicon<br>glyphicon-fullscreen</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span><br>glyphicon<br>glyphicon-dashboard</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span><br>glyphicon<br>glyphicon-paperclip</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><br>glyphicon<br>glyphicon-heart-empty</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-link" aria-hidden="true"></span><br>glyphicon<br>glyphicon-link</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br>glyphicon<br>glyphicon-phone</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><br>glyphicon<br>glyphicon-pushpin</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br>glyphicon<br>glyphicon-usd</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span><br>glyphicon<br>glyphicon-gbp</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-alphabet</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-alphabet-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-order</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-order-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-attributes</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sort-by-attributes-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><br>glyphicon<br>glyphicon-unchecked</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-expand" aria-hidden="true"></span><br>glyphicon<br>glyphicon-expand</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-collapse-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-collapse-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><br>glyphicon<br>glyphicon-log-in</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><br>glyphicon<br>glyphicon-flash</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><br>glyphicon<br>glyphicon-log-out</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><br>glyphicon<br>glyphicon-new-window</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-record" aria-hidden="true"></span><br>glyphicon<br>glyphicon-record</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-save" aria-hidden="true"></span><br>glyphicon<br>glyphicon-save</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-open" aria-hidden="true"></span><br>glyphicon<br>glyphicon-open</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br>glyphicon<br>glyphicon-saved</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-import" aria-hidden="true"></span><br>glyphicon<br>glyphicon-import</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-export" aria-hidden="true"></span><br>glyphicon<br>glyphicon-export</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-send" aria-hidden="true"></span><br>glyphicon<br>glyphicon-send</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span><br>glyphicon<br>glyphicon-floppy-disk</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span><br>glyphicon<br>glyphicon-floppy-saved</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span><br>glyphicon<br>glyphicon-floppy-remove</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span><br>glyphicon<br>glyphicon-floppy-save</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span><br>glyphicon<br>glyphicon-floppy-open</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span><br>glyphicon<br>glyphicon-credit-card</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span><br>glyphicon<br>glyphicon-transfer</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cutlery</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-header" aria-hidden="true"></span><br>glyphicon<br>glyphicon-header</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><br>glyphicon<br>glyphicon-compressed</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><br>glyphicon<br>glyphicon-earphone</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-phone-alt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tower</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><br>glyphicon<br>glyphicon-stats</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sd-video" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sd-video</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hd-video</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-subtitles" aria-hidden="true"></span><br>glyphicon<br>glyphicon-subtitles</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sound-stereo</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sound-dolby</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sound-5-1" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sound-5-1</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sound-6-1" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sound-6-1</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sound-7-1" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sound-7-1</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span><br>glyphicon<br>glyphicon-copyright-mark</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span><br>glyphicon<br>glyphicon-registration-mark</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cloud-download</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cloud-upload</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tree-conifer</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tree-deciduous</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span><br>glyphicon<br>glyphicon-cd</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span><br>glyphicon<br>glyphicon-save-file</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span><br>glyphicon<br>glyphicon-open-file</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-level-up</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-copy" aria-hidden="true"></span><br>glyphicon<br>glyphicon-copy</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-paste" aria-hidden="true"></span><br>glyphicon<br>glyphicon-paste</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><br>glyphicon<br>glyphicon-alert</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span><br>glyphicon<br>glyphicon-equalizer</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-king" aria-hidden="true"></span><br>glyphicon<br>glyphicon-king</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-queen" aria-hidden="true"></span><br>glyphicon<br>glyphicon-queen</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span><br>glyphicon<br>glyphicon-pawn</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bishop" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bishop</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-knight" aria-hidden="true"></span><br>glyphicon<br>glyphicon-knight</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span><br>glyphicon<br>glyphicon-baby-formula</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-tent" aria-hidden="true"></span><br>glyphicon<br>glyphicon-tent</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span><br>glyphicon<br>glyphicon-blackboard</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bed" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bed</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-apple" aria-hidden="true"></span><br>glyphicon<br>glyphicon-apple</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-erase" aria-hidden="true"></span><br>glyphicon<br>glyphicon-erase</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><br>glyphicon<br>glyphicon-hourglass</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>glyphicon<br>glyphicon-lamp</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span><br>glyphicon<br>glyphicon-duplicate</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><br>glyphicon<br>glyphicon-piggy-bank</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span><br>glyphicon<br>glyphicon-scissors</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span><br>glyphicon<br>glyphicon-bitcoin</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-btc" aria-hidden="true"></span><br>glyphicon<br>glyphicon-btc</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-xbt" aria-hidden="true"></span><br>glyphicon<br>glyphicon-xbt</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span><br>glyphicon<br>glyphicon-yen</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-jpy" aria-hidden="true"></span><br>glyphicon<br>glyphicon-jpy</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ruble</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-rub" aria-hidden="true"></span><br>glyphicon<br>glyphicon-rub</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-scale" aria-hidden="true"></span><br>glyphicon<br>glyphicon-scale</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ice-lolly</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span><br>glyphicon<br>glyphicon-ice-lolly-tasted</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span><br>glyphicon<br>glyphicon-education</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span><br>glyphicon<br>glyphicon-option-horizontal</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span><br>glyphicon<br>glyphicon-option-vertical</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><br>glyphicon<br>glyphicon-menu-hamburger</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span><br>glyphicon<br>glyphicon-modal-window</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-oil" aria-hidden="true"></span><br>glyphicon<br>glyphicon-oil</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-grain" aria-hidden="true"></span><br>glyphicon<br>glyphicon-grain</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span><br>glyphicon<br>glyphicon-sunglasses</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span><br>glyphicon<br>glyphicon-text-size</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span><br>glyphicon<br>glyphicon-text-color</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span><br>glyphicon<br>glyphicon-text-background</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-top</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-bottom</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-horizontal</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-vertical</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-object-align-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-triangle-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-triangle-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><br>glyphicon<br>glyphicon-triangle-bottom</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span><br>glyphicon<br>glyphicon-triangle-top</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-console" aria-hidden="true"></span><br>glyphicon<br>glyphicon-console</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-superscript" aria-hidden="true"></span><br>glyphicon<br>glyphicon-superscript</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-subscript" aria-hidden="true"></span><br>glyphicon<br>glyphicon-subscript</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><br>glyphicon<br>glyphicon-menu-left</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><br>glyphicon<br>glyphicon-menu-right</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><br>glyphicon<br>glyphicon-menu-down</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>glyphicon<br>glyphicon-menu-up</p>
		</div>
	</div>

	<h3>État d'erreur du glyphicon</h3>

	<p>En ajoutant la classe d'état d'erreur glyphicon <code>glyphicon-error</code>, la couleur et la taille de police suivantes sont appliquées: <code>#96323a</code> et '<code>font-size: 400%;</code>.</p>

	<p><span aria-hidden="true" class="glyphicon glyphicon-cloud glyphicon-error" aria-hidden="true"></span></p>

	<h4>Code</h4>
	<pre><code>&lt;p&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;glyphicon glyphicon-cloud glyphicon-error&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/p&gt;</code></pre>
</div>
